html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Consolas', monospace;
  background-color: #1e1e1e;
  color: #d4d4d4;
  overflow: hidden;
}

nav.navbar {
  height: 56px;
}

.navbar .navbar-brand {
  line-height: 56px;
  display: flex;
  align-items: center;
}

.navbar .nav-link {
  height: 56px;
  display: flex;
  align-items: center;
}

.split-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow: auto;
  height: 100%;
}

.left-panel {
  width: 75%;
  min-width: 200px;
  resize: horizontal;
  overflow: auto;
  border-right: 1px solid #444;
  background-color: #1e1e1e;
}

.right-panel {
  flex: 1;
  min-width: 200px;
  border-left: 1px solid #444;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
}

.output-and-globals {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.output-and-globals > h6 {
  margin: 0 0 0.5rem 0;
}

#output {
  height: 50%;
  min-height: 100px;
  max-height: 80%;
  flex: none; /* dôležité pre resizer */
  background: #252526;
  border: 1px solid #333;
  padding: 0.5rem;
  overflow-y: auto;
  white-space: pre-wrap;
  margin-bottom: 0;
}

.v-resizer {
  height: 6px;
  background-color: #555;
  cursor: row-resize;
  flex-shrink: 0;
  margin: 0;
}

.resizer-x {
  width: 5px;
  background: #444;
  cursor: col-resize;
  height: 100%;
}

.globals-panel {
  flex: 1;
  min-height: 50px;
  overflow: auto;
  background: #252526;
  padding: 0.5rem 0;
  margin: 0;
}

#globals-table {
  width: 100%;
  background: #252526;
  font-family: monospace;
  font-size: 14px;
  color: #d4d4d4;
  border-top: 1px solid #444;
  overflow-y: auto;
  margin: 0;
}

.CodeMirror {
  flex: 1;
  height: auto;
  background: #1e1e1e;
  color: #d4d4d4;
  font-size: 14px;
  border: 1px solid #333;
}

.CodeMirror-cursor {
  border-left: 2px solid #00ff00 !important;
}

.CodeMirror-selected {
  background-color: #264f78 !important;
}

.CodeMirror ::selection {
  background: #264f78 !important;
  color: #ffffff !important;
}

.CodeMirror ::-moz-selection {
  background: #264f78 !important;
  color: #ffffff !important;
}

#editor {
  height: 100%;
}

#run {
  z-index: 1;
  position: relative;
}

.view {
  display: none;
  height: calc(100vh - 56px);
}

.view.active {
  display: flex;
}